name: redis-stack
services:

  redis:
    container_name: redis
    image: redis:alpine:latest
    
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"] # For persistence if needed
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - redis-network
    volumes:
      - vol_redis:/data

  redis-insight:
    container_name: redis-insight
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - redis-network
    volumes:
      - vol_redis_insight:/data

networks:
  redis-network:
    driver: bridge

volumes:
  vol_redis:
  vol_redis_insight:
